data-analysis-schema.rnc

start = data

data = element data { header, analysis }

header = element header { citationInfo, respDesc }

citationInfo = element citationInfo {articleTitle?, journalTitle, publicationDate+, publicationPlace+, page, adUrl?} #citation info - simplified for data file
articleTitle = element articleTitle { text }
journalTitle = element journalTitle { text } #newspaper title
publicationDate = element publicationDate { when, text }
when = attribute when { xsd:date | xsd:gYearMonth | xsd:gYear } #this has to be in yyyy-mm-dd format
publicationPlace = element publicationPlace { settlement, state, text }
adUrl = element adUrl {xsd:anyURI} # link to your transcript file
page = element page { xsd:integer }  #this will only accept whole numbers

respDesc = element respDesc { created } # information on who created this XML
created = element created { resp, when, notes*, text } # this is you, provide your name 
notes = element notes { text }  #this is where you can add any notes about the analysis
resp = attribute resp { text } # use # + your initials - #ftp

analysis = element analysis { adType, rewardInfo, listPerson+, listPlace+ } # structured data extracted from the advertisement

adType = element adType {type}
type = attribute type {"jailer" | "enslaver" | text}

rewardInfo = element rewardInfo { amount, criteria* } 
amount = element amount { minAmount+, maxAmount*, text } # copy and tag language about reward
minAmount = attribute minAmount { xsd:double } # use if there is only 1 reward, or if there are multiple offers. Must use decimal to two places "x.00"
maxAmount = attribute maxAmount { xsd:double } #use if there are multiple reward values
criteria = element criteria { text } #capture conditions (in state, out of state, etc)

listPerson = element listPerson { persName+} # this creates a tag block where you will list all the people in the ad using "persName"
persName = element persName {mixed{xmlid, role, sex, foreName, midName?, surName?, alias*, (enslaverInfo|characteristics)}} # use to create entry on each individual in ad, tag full name as text and record other info as attributes
alias = attribute alias { text }
role = attribute role { "enslaved" | "enslaver" | "collaborator" | "other" | text }
sex = attribute sex { "m" | "f" | "unk" }
foreName = attribute foreName { text } # first name
midName = attribute midName { text } # middle name
surName = attribute surName { text } # last name
xmlid = attribute xml:id { text } # this should match the xml:id used in the transcript file
enslaverInfo = element enslaverInfo { text } # use if the person tagged is an enslaver
characteristics = element characteristics { physical?, countenance?, otherFeatures? }  #use to capture physical, personality, and other features for enslaved fugitives

physical = element physical {mixed{phenotype*|build*|eyes*|ears*|teeth*|scars*|minHeight?|maxHeight?|minAge?|maxAge?|clothing*|possessions?}*} # only include element when you have data
phenotype = element phenotype{text}  #racial classification
build = element build { text } # bodytype
eyes = element eyes { text }
ears = element ears { text }
teeth = element teeth { text }
scars = element scars { text }
minHeight = element minHeight {inches, text} # use if there is one or multiple descriptions
inches = attribute inches {xsd:double} # in inches
maxHeight = element maxHeight {inches, text} # use if more than one description
minAge = element minAge {years, text} # use if there is one or multiple descriptions
years= attribute years{xsd:integer} # in years, whole numbers
maxAge = element maxAge {years, text}# in years, use if multiple descriptors
clothing = element clothing { text }
possessions = element possessions { text }

countenance = element countenance {mixed{ speech* | behavior* | previousRunaway* | passAsFree* | other* }*}
speech = element speech { text }
behavior = element behavior { text }
previousRunaway = element previousRunaway { ran, text } # does ad indicate if they ran away before
ran = attribute ran { "y" }
other = element other { text }
passAsFree = element passAsFree { pass, text } # does ad indicate if they will attempt to pass as free
pass = attribute pass { "y" } # do NOT use to indicate if the enslaved person might have false papers (see below)

otherFeatures = element otherFeatures {mixed{ inAGroup?| literate?| skills?| papersDesc?| hadHelp?| horse? }*} # other info about enslaved person
inAGroup = element inAGroup { group?, with?, text } # use if multiple runaways included in ad
group = attribute group { "y" }
with = element with { text }
literate = element literate {canRead?,text?} # can they read/write?
canRead = attribute canRead {"y"}
skills = element skills { text }
papersDesc = element papersDesc { papers, text } # text on papers in ad
papers = attribute papers { "y" }
hadHelp = element hadHelp { text } # did anyone help the runaway
horse = element horse {hadHorse?, text} #indicate if the runaway had a horse, in the "text" field you can include any text from the ad about the horse
hadHorse = attribute hadHorse {"y"}

listPlace = element listPlace { placeName+} # this creates a tag block where you will discuss places in the ad
placeName = element placeName {xmlid, placeType, settlement?, county?, state?, country?, geo?, text}
xmlid = attribute xml:id { text } # this should match any ref attributes used in the transcript file
placeType = attribute placeType {"origin" | "potential destination" | "location last seen" | "pubPlace" | text}
settlement = attribute settlement { text } # city, town, village, etc
county = attribute county { text } # use if the ad includes info, or you find, info on the county of location
state = attribute state { text } # refers to the US state or Canadian province
country = attribute country { text } 
geo = attribute geo { text } # latitude, longitude